body{padding:0 20px;}
.hero-unit{
	margin-top:60px;
	background:url(../img/bg_02.jpg) center center no-repeat;
 	color: #FF0084;
	text-shadow: 0 0 20px #0061DE;
}
.hero-unit {padding: 85px 60px 35px;}

 /* http://support.addthis.com/customer/portal/questions/1136093-share-buttons-in-center-position */      
div.addthis_toolbox {
	width:300px;
	margin: 0 auto;
}

.navbar-inverse .navbar-inner {background-image: linear-gradient(to bottom, #666666, #333333);}
.navbar-inverse .brand {color: #fff;}
.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus {
    background-color: #666;
    color: #DEDEDE;
}
.span4 h2{ color:#f60;}